<div class="login">
	<!-- 中间内容 -->
	<ion-content class="login">
		<!-- 头部 s -->
		<ion-header-bar class="bar_top bar bar-header">
				<button menu-toggle="left" class="button button-icon icon ion-ios-arrow-left button-clear fff"></button>
			  <div class="h1 title"></div>
		</ion-header-bar>
		<!-- 头部e -->

		<!-- logo s -->
		<div class="logo">
			<img class="auto-img" src="./assets/icons/Iocn_dl_1@2x.png">
			<span class="logotxt fff">千纸鹤</span>
		</div>

		<div class="list p-top">
			<label class="item item-input trans lable_pd">
				<span class="input_lable lodin_icon"><img class="auto-img" src="./assets/icons/Iocn_dl_2@2x.png"></span>
				<input class="lodin_fontsize" type="text" name="" placeholder="会员名">
			</label>
			<label class="item item-input trans lable_pd">
				<span class="input_lable lodin_icon"><img class="auto-img" src="./assets/icons/Iocn_dl_3@2x.png"></span>
				<input class="lodin_fontsize" type="password" name="" placeholder="输入密码">

			</label>
			<div class="clearfix wjpwd"><span class="fr">忘记密码？</span></div>
			<button class="button button-light btns fl">登录</button>
			<button class="button button-light btns fr" ng-click="goPage('register')">注册</button>
		</div>
		<div class="dsf_box">
			<span class="dsf_login">第三方登录方式</span>
			<div class="dsf_login">
				<span class="dsf_icons"><img class="auto-img" src="./assets/icons/Iocn_dl_4@2x.png"></span>
				<span class="dsf_icons"><img class="auto-img" src="./assets/icons/Iocn_dl_5@2x.png"></span>
				<span class="dsf_icons"><img class="auto-img" src="./assets/icons/Iocn_dl_6@2x.png"></span>
			</div>
		</div>
			<div class="xieyi">说明：注册/登录代表您已经同意 《千纸鹤协议》</div>
	</ion-content>
</div>
