<div class="home" ng-controller="homeController">
	<ion-content class="sts">
		<div ui-view></div>
	</ion-content>
		

	<ion-tabs class="tabs-positive tabs-icon-top">
		<ion-tab ui-sref="home.home-one.qingcangzq" title="首页" icon-on="icon-home" icon-off="icon-home-outline"></ion-tab>
	
		<ion-tab ui-sref="home.home-two" title="分类" icon-on="icon-classify" icon-off="icon-classify-outline"></ion-tab>

		<ion-tab ui-sref="home.home-three" title="发现" icon-on="icon-find" icon-off="icon-find-outline"></ion-tab>

		<ion-tab title="购物车" icon-on="icon-cart" icon-off="icon-cart-outline"></ion-tab>
		
		<ion-tab title="我的" icon-on="icon-my" icon-off="icon-my-outline"></ion-tab>

	</ion-tabs>
	<!-- 底部栏 end -->
</div>
